body{
    font-family: Verdana, sans-serif;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    width: 25%;
}

button{
    background: rgb(177, 170, 170);
    color: black;
    padding: 8px;
}


#mensagem{
    font-size: 18px;
}


